<div class="row">
    <div id="slidebar">
        <div class="sliderDiv">
            <input type="checkbox" class="sliderSwitch" name="" id="casesCheckSwitch">
            <p class="sliderHeader">Cases:</p>
            <input type="range" name="" class="sliderInput" id="casesSlider" disabled />
            <p class="sliderValue" id="casesSliderValue"></p>
        </div>
        <div class="sliderDiv">
            <input type="checkbox" class="sliderSwitch" name="" id="deathsCheckSwitch">
            <p class="sliderHeader">Deaths:</p>
            <input type="range" name="" class="sliderInput" id="deathsSlider" disabled />
            <p class="sliderValue" id="deathsSliderValue"></p>
        </div>
    </div>
    <div id="hotel_map"></div>
    <div id="popup" class="ol-popup">
        <a id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
</div>